In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/vehicles.csv')
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [ ]:
data.shape

(426880, 26)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [ ]:
data.isna().sum()/len(data)*100

id                0.000000
url               0.000000
region            0.000000
region_url        0.000000
price             0.000000
year              0.282281
manufacturer      4.133714
model             1.236179
condition        40.785232
cylinders        41.622470
fuel              0.705819
odometer          1.030735
title_status      1.930753
transmission      0.598763
VIN              37.725356
drive            30.586347
size             71.767476
type             21.752717
paint_color      30.501078
image_url         0.015930
description       0.016398
county          100.000000
state             0.000000
lat               1.534155
long              1.534155
posting_date      0.015930
dtype: float64

In [ ]:
df=data.drop(['id',"url",'region_url','county','VIN','lat','long','image_url'],axis=1)

In [ ]:
df.duplicated().sum()

20

In [ ]:
df["size"].unique()

array([nan, 'full-size', 'mid-size', 'compact', 'sub-compact'],
      dtype=object)

In [ ]:
df=df.drop_duplicates(keep='first')

In [ ]:
manufacturers = '(gmc | hyundai | toyota | mitsubishi | ford | chevrolet | ram | buick | jeep | dodge | subaru | nissan | audi | rover  | lexus \
| honda | chrysler | mini | pontiac | mercedes-benz | cadillac | bmw | kia | volvo | volkswagen | jaguar | acura | saturn | mazda | \
mercury | lincoln | infiniti | ferrari | fiat | tesla | land rover | harley-davidson | datsun | alfa-romeo | morgan | aston-martin | porche \
| hennessey)'
conditions = '(excellent | good | fair | like new | salvage | new)'
fuels = '(gas | hybrid | diesel |electric)'
title_statuss = '(clean | lien | rebuilt | salvage | missing | parts only)'
transmissions = '(automatic | manual)'
drives = '(4x4 | awd | fwd | rwd | 4wd)'
sizes = '(mid-size | full-size | compact | sub-compact)'
type_s = '(sedan | truck | SUV | mini-van | wagon | hatchback | coupe | pickup | convertible | van | bus | offroad)'
paint_colors = '(red | grey | blue | white | custom | silver | brown | black | purple | green | orange | yellow)'
cylinderss = '(\s[1-9] cylinders? |\s1[0-6]? cylinders?)'

In [ ]:
keys =    ['manufacturer', 'condition', 'fuel', 'title_status', 'transmission', 'drive','size', 'type', 'paint_color' , 'cylinders']
columns = [ manufacturer,   condition,   fuel,  title_status, transmission ,drive, size, type_, paint_color,   cylinders]

In [ ]:
import re

In [ ]:
for i,column in zip(keys,columns):
    df[i] = df[i].fillna(
      df['description'].str.extract(column, flags=re.IGNORECASE, expand=False)).str.lower()

In [ ]:
  df.drop('description', axis=1, inplace= True)

In [ ]:
for i in keys:
  print(df[i].unique())

[nan 'gmc' 'chevrolet' 'toyota' 'ford' 'jeep' 'nissan' 'ram' 'mazda'
 'cadillac' 'honda' 'dodge' 'lexus' 'jaguar' 'buick' 'chrysler' 'volvo'
 'audi' 'infiniti' 'lincoln' 'alfa-romeo' 'subaru' 'acura' 'hyundai'
 'mercedes-benz' 'bmw' 'mitsubishi' 'volkswagen' 'porsche' 'kia'
 ' cadillac ' 'gmc ' ' ford ' 'rover' 'ferrari' 'mini' ' bmw ' 'pontiac'
 'fiat' ' jaguar ' ' hyundai ' ' mini ' ' mercedes-benz ' ' toyota '
 ' dodge ' ' mazda ' 'tesla' 'saturn' ' buick ' 'mercury' ' ram '
 ' chevrolet ' ' jeep ' ' volkswagen ' ' morgan ' ' lincoln ' ' lexus '
 ' kia ' ' pontiac ' 'harley-davidson' ' honda ' ' volvo ' ' chrysler '
 ' nissan ' ' mercury ' 'datsun' ' audi ' ' ferrari ' ' subaru ' ' acura '
 ' infiniti ' ' fiat ' 'aston-martin' ' datsun ' ' land rover '
 'land rover' ' mitsubishi ' ' tesla ' ' hennessey' ' saturn ' 'morgan'
 ' porche ' ' harley-davidson ']
[nan 'good' 'excellent' 'fair' ' good ' 'like new' 'new' ' new' ' fair '
 ' like new ' 'excellent ' 'salvage' ' salvage ']
[nan 'gas' 'other' 'diesel' 'hybrid' 'electric' ' diesel ' ' hybrid '
 'gas ']
[nan 'clean' 'rebuilt' 'lien' 'salvage' 'missing' 'clean ' 'parts only'
 ' salvage ' ' rebuilt ' ' parts only']
[nan 'other' 'automatic' 'manual' 'automatic ' ' manual']
[nan 'rwd' '4wd' 'fwd' '4x4 ' ' awd ' ' 4wd' ' rwd ' ' fwd ']
[nan 'full-size' 'mid-size' 'compact' ' compact ' 'sub-compact'
 ' full-size ' 'mid-size ' ' sub-compact']
[nan 'pickup' 'truck' 'other' 'coupe' 'suv' 'hatchback' 'mini-van' 'sedan'
 ' wagon ' 'offroad' 'bus' 'van' 'convertible' ' suv ' ' truck '
 ' pickup ' 'wagon' ' coupe ' ' van ' ' convertible ' 'sedan ' ' offroad'
 ' bus ' ' hatchback ' ' mini-van ']
[nan 'white' 'blue' 'red' 'black' 'silver' 'grey' 'red ' 'brown' 'yellow'
 'orange' 'green' ' black ' ' blue ' ' purple ' ' silver ' ' custom '
 'custom' ' white ' ' brown ' ' grey ' ' orange ' ' green ' 'purple'
 ' yellow']
[nan '8 cylinders' '6 cylinders' '4 cylinders' '5 cylinders' 'other'
 ' 4 cylinder ' '3 cylinders' ' 5 cylinder ' '10 cylinders' '12 cylinders'
 ' 6 cylinder ' ' 8 cylinder ' ' 8 cylinders ' ' 6 cylinders '
 ' 4 cylinders ' ' 5 cylinders ' ' 3 cylinder ' ' 2 cylinders '
 '\t4 cylinder ' ' 10 cylinder' ' 12 cylinders' ' 2 cylinder '
 ' 12 cylinder' ' 7 cylinders ' ' 10 cylinders' ' 1 cylinder ']

In [ ]:
for i in keys:
  df[i]=df[i].str.strip()

In [ ]:
for i in keys:
  print(df[i].unique())

[nan 'gmc' 'chevrolet' 'toyota' 'ford' 'jeep' 'nissan' 'ram' 'mazda'
 'cadillac' 'honda' 'dodge' 'lexus' 'jaguar' 'buick' 'chrysler' 'volvo'
 'audi' 'infiniti' 'lincoln' 'alfa-romeo' 'subaru' 'acura' 'hyundai'
 'mercedes-benz' 'bmw' 'mitsubishi' 'volkswagen' 'porsche' 'kia' 'rover'
 'ferrari' 'mini' 'pontiac' 'fiat' 'tesla' 'saturn' 'mercury' 'morgan'
 'harley-davidson' 'datsun' 'aston-martin' 'land rover' 'hennessey'
 'porche']
[nan 'good' 'excellent' 'fair' 'like new' 'new' 'salvage']
[nan 'gas' 'other' 'diesel' 'hybrid' 'electric']
[nan 'clean' 'rebuilt' 'lien' 'salvage' 'missing' 'parts only']
[nan 'other' 'automatic' 'manual']
[nan 'rwd' '4wd' 'fwd' '4x4' 'awd']
[nan 'full-size' 'mid-size' 'compact' 'sub-compact']
[nan 'pickup' 'truck' 'other' 'coupe' 'suv' 'hatchback' 'mini-van' 'sedan'
 'wagon' 'offroad' 'bus' 'van' 'convertible']
[nan 'white' 'blue' 'red' 'black' 'silver' 'grey' 'brown' 'yellow'
 'orange' 'green' 'purple' 'custom']
[nan '8 cylinders' '6 cylinders' '4 cylinders' '5 cylinders' 'other'
 '4 cylinder' '3 cylinders' '5 cylinder' '10 cylinders' '12 cylinders'
 '6 cylinder' '8 cylinder' '3 cylinder' '2 cylinders' '10 cylinder'
 '2 cylinder' '12 cylinder' '7 cylinders' '1 cylinder']

In [ ]:
df.isna().sum()/len(df)*100

region           0.000000
price            0.000000
year             0.279717
manufacturer     2.834185
model            1.233660
condition       19.517875
cylinders       39.411282
fuel             0.482125
odometer         1.028206
title_status     1.509160
transmission     0.381155
drive           23.033782
size            67.702760
type            13.400881
paint_color     11.994565
state            0.000000
posting_date     0.013353
dtype: float64

In [ ]:
df.shape

(426860, 17)

In [ ]:
df.dropna(axis=0,how='all',inplace=True)

In [ ]:
df.dropna(subset=['year','manufacturer','model','fuel','odometer','title_status','transmission','posting_date'],axis=0,inplace=True)

In [ ]:
df.isna().sum()/len(df)*100

region           0.000000
price            0.000000
year             0.000000
manufacturer     0.000000
model            0.000000
condition       19.491301
cylinders       39.087222
fuel             0.000000
odometer         0.000000
title_status     0.000000
transmission     0.000000
drive           22.160141
size            67.023995
type            13.156438
paint_color     11.598499
state            0.000000
posting_date     0.000000
dtype: float64

In [ ]:
df.drop(columns=["size"],axis=1,inplace=True)

In [ ]:
df[df.drive.isna()].model.value_counts()

accord                867
altima                778
civic                 776
camry                 674
mustang               642
                     ...
3500 big horn           1
f2 50 xtl long bed      1
camaro 1ss              1
sunfire se              1
apache 10               1
Name: model, Length: 8100, dtype: int64

In [ ]:
df[df.model=='civic'].drive.value_counts()

fwd    1924
4wd      25
rwd      14
4x4       7
awd       2
Name: drive, dtype: int64

In [ ]:
df[df.model=='camry'].drive.value_counts()

fwd    2309
4wd      34
rwd      25
4x4      10
awd       2
Name: drive, dtype: int64

In [ ]:
df.sort_values(by=['model','year'],inplace=True)
df.fillna(method='ffill')

In [ ]:
df.sort_values(by=['model','year'],inplace=True)

In [ ]:
df[df.cylinders.isna()]

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,posting_date
404088,kennewick-pasco-richland,0,2009.0,kia,",,,,,,,",NaN,NaN,gas,1.0,clean,automatic,NaN,NaN,NaN,wa,2021-04-20T13:20:33-0700
363492,austin,0,2014.0,ford,",2012,2013, SOME 2014 MODELS",like new,NaN,gas,89000.0,clean,automatic,NaN,NaN,NaN,tx,2021-05-04T17:34:38-0500
364165,austin,0,2014.0,ford,",2012,2013, SOME 2014 MODELS",like new,NaN,gas,42000.0,clean,automatic,NaN,NaN,NaN,tx,2021-05-01T16:13:33-0500
365172,austin,0,2014.0,ford,",2012,2013, SOME 2014 MODELS",like new,NaN,gas,89000.0,clean,automatic,NaN,NaN,NaN,tx,2021-04-27T14:33:12-0500
365777,austin,0,2014.0,ford,",2012,2013, SOME 2014 MODELS",like new,NaN,gas,42000.0,clean,automatic,NaN,NaN,NaN,tx,2021-04-24T12:05:07-0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333086,philadelphia,3999,2006.0,lincoln,zephyr,excellent,NaN,gas,130198.0,clean,automatic,fwd,sedan,NaN,pa,2021-04-30T17:00:50-0400
196706,detroit metro,5000,2007.0,lincoln,zephyr,NaN,NaN,gas,135000.0,clean,automatic,NaN,NaN,silver,mi,2021-05-03T10:41:25-0400
386641,st george,4000,1995.0,jeep,zj,new,NaN,gas,157602.0,clean,automatic,4x4,NaN,NaN,ut,2021-04-14T09:46:47-0600
140276,chicago,699,2014.0,kia,​​sorento lx,like new,NaN,gas,104175.0,clean,automatic,NaN,truck,NaN,il,2021-05-04T09:02:08-0500
214748,minneapolis / st paul,500,2020.0,ford,♦ALL TADES WELCOME!♦,excellent,NaN,gas,2020.0,clean,other,4x4,truck,NaN,mn,2021-05-03T12:23:54-0500

In [ ]:
df.shape

(395715, 16)

In [ ]:
df.dropna(subset=["cylinders","type","drive"],axis=0,inplace=True,how="all")

In [ ]:
df.shape

(372174, 16)

In [ ]:
df.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,posting_date
317864,eugene,27000,1913.0,ford,"""t""",like new,4 cylinders,gas,9999999.0,clean,other,rwd,convertible,red,or,2021-04-22T09:50:49-0700
384480,waco,24900,2018.0,mercedes-benz,"$362.47, $1000 down, oac, 2.9%apr $362.47,luxu...",NaN,4 cylinders,gas,40556.0,clean,automatic,rwd,sedan,black,tx,2021-04-27T18:44:18-0500
396112,richmond,3045,2006.0,chevrolet,& altima,good,6 cylinders,gas,110160.0,clean,automatic,4wd,mini-van,black,va,2021-04-30T06:06:04-0400
221214,southeast missouri,17500,1955.0,chevrolet,(210),fair,8 cylinders,gas,3193.0,clean,automatic,rwd,sedan,blue,mo,2021-04-30T17:51:54-0500
276912,new york city,9000,2006.0,chrysler,(300),good,8 cylinders,gas,14000.0,clean,automatic,4wd,other,white,ny,2021-05-01T08:14:24-0400

In [ ]:
df.drop(columns=['posting_date'],axis=1,inplace=True)

In [ ]:
df.duplicated().sum()

47261

In [ ]:
df.drop_duplicates(keep="first",inplace=True)

In [ ]:
df.shape

(324913, 15)

In [ ]:
df.isna().sum()/len(df)*100

region           0.000000
price            0.000000
year             0.000000
manufacturer     0.000000
model            0.000000
condition       16.897139
cylinders       34.681899
fuel             0.000000
odometer         0.000000
title_status     0.000000
transmission     0.000000
drive           17.901715
type             7.634967
paint_color      7.731608
state            0.000000
dtype: float64

In [ ]:
df.fillna(value='unknown',inplace=True)

In [ ]:
df.isna().sum()/len(df)*100

region          0.0
price           0.0
year            0.0
manufacturer    0.0
model           0.0
condition       0.0
cylinders       0.0
fuel            0.0
odometer        0.0
title_status    0.0
transmission    0.0
drive           0.0
type            0.0
paint_color     0.0
state           0.0
dtype: float64